
.album-title-container {
	background-color: black;
	-webkit-box-shadow: #222 0px 0px 5px;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	display: block;
	height: 35px;
	color: #aaa;
	width: 100%;
	margin: 10px;

}

.album-title-container .album-title {
	font: normal normal normal 18px/normal Arial, sans-serif;
	height: 35px; 
	line-height: 35px; 
	padding-left: 20px;
	color: white;
}

.album-cover {
	-webkit-box-shadow: black 0px 0px 40px;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	margin: 10px;
}

.album-cover-shows {
	-webkit-box-shadow: black 0px 0px 40px;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	margin: 10px;
	width: 136px;
	height: 200px;
}

.album-cover-album {
	-webkit-box-shadow: black 0px 0px 40px;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	margin: 10px;
	width: 120px;
	height: 120px;
}

.song {
	border-top: none;
	color: #BFBFBF;
	min-height: 100%;
	height: 100%;
}
.song:after {
  border-bottom: 1px solid #BFBFBF;
}

.song:last-child:after {
  border-bottom: none;
}
.song .song-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:white;
	margin-left: 10px;
}
.song .song-length {
	color:#BFBFBF;
}
.song .song-number {
	color:#BFBFBF;	
}