.enyo-bg {
  background-color: #222;
  /*width: 930px;*/
}

.artist-cover {
  overflow: visible;
  margin: 20px;
  visibility: visible;
  z-index: 0;
}

.artist-cover .artist-thumb {
  -webkit-box-shadow: #333538 0px 0px 40px;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  visibility: visible;
}

.artist-title_holder {
  height: 49px;
  overflow: hidden;
  visibility: visible;
  z-index: 0;
}

.artist-title_holder .artist-title {
  font: normal normal bold 40px/normal Arial, sans-serif;
  height: 45px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  z-index: 100;
  color: #666;
}


.artist-desc {
  font: normal normal normal 14px/normal Arial, sans-serif;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  height: 200px;
  word-wrap: break-word;
  z-index: 200;

  color: #555;
}

.item {
	padding: 30px;
	border: none;
}

/*
.album-view {
  position: absolute;
  top: 200px;
  left: 10px;
  width: 100%;
}

*/

