.enyo-bg{
  background-color: #222;
  /*width: 930px;*/
}
.list {
	background-color: #222;
}

.cover-label {
	font: normal normal bold 11px/normal Arial, sans-serif; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
	word-wrap: normal; 
	width: 125px; 
	height: 14px;
	background-color: transparent;
	background-image: none;
	background-origin: padding-box;
	color: white;
	border: none;
	text-align: center;
}

.cover-image {
	width: 100px;
	height: 149px;
	border-top-left-radius: 4px 4px; 
	border-top-right-radius: 4px 4px; 
	border-bottom-right-radius: 4px 4px; 
	border-bottom-left-radius: 4px 4px; 
	-webkit-box-shadow: rgb(10, 10, 10) 0px 0px 8px;
	box-shadow: rgb(10, 10, 10) 0px 0px 8px;
}