.enyo-bg{
  background-color: #222;
  /*width: 930px;*/
}
.list {
	background-color: #222;
}

.cover-label {
	font: normal normal bold 11px/normal Arial, sans-serif; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
	word-wrap: normal; 
	width: 125px; 
	height: 14px;
	background-color: transparent;
	background-image: none;
	background-origin: padding-box;
	color: white;
	border: none;
	text-align: center;
}
.cover-sublabel {
	font: normal normal bold 9px/normal Arial, sans-serif; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
	word-wrap: normal; 
	width: 125px; 
	height: 14px;
	background-color: transparent;
	background-image: none;
	background-origin: padding-box;
	color: #BFBFBF;
	border: none;
	text-align: center;
}
.cover-shadow{
	position: relative;
	width:100px;
	height:149px;	
	border-image:url(../images/plexShadow.png) 10 round round;
	-webkit-border-image:url(../images/plexShadow.png) 10 round round;
	border-width:10px;
}
.cover-image {
	width: 100px;
	height: 149px;
	-webkit-border-radius: 4px;
	border-top-left-radius: 4px 4px; 
	border-top-right-radius: 4px 4px; 
	border-bottom-right-radius: 4px 4px; 
	border-bottom-left-radius: 4px 4px;

}
.cover-image-episode {
	width: 130px;
	height: 100px;
	-webkit-border-radius: 4px;
	border-top-left-radius: 4px 4px; 
	border-top-right-radius: 4px 4px; 
	border-bottom-right-radius: 4px 4px; 
	border-bottom-left-radius: 4px 4px;
	margin-top: 10px;

}
.cover-image-artist {
	width: 130px;
	height: 130px;
	-webkit-border-radius: 4px;
	border-top-left-radius: 4px 4px; 
	border-top-right-radius: 4px 4px; 
	border-bottom-right-radius: 4px 4px; 
	border-bottom-left-radius: 4px 4px;
	margin-top: 10px;
	
}
.seenFlag {
	position: absolute;
  top: -3%;
  left: 30%;
  width: 29px;
  height: 26px;
  z-index: -1;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}
.unwatched {
  background: url(../images/unwatched.png) no-repeat;
}
.partly_watched {
  background: url(../images/partly_watched.png) no-repeat;
}
.unwatched_count {
	position: absolute;
  top: -12%;
  left: 35%;
	font: normal normal bold 9px/normal Arial, sans-serif; 
	color: white;
	background: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	-webkit-border-radius: 4px;
	/*
	-webkit-border-image: url(../images/number-bubble.png) 12 12 11 11 stretch stretch;
	-webkit-box-sizing: border-box;
	border-width: 3px 5px 3px 5px;	
	*/
}

