/* controls */
.controls {
	background:url(../images/bg_controls.png) repeat-y 0 0;
	height:380px;
	color:#1c1c1c;
	font-size:14px;
	border:0;
	background: #FFF;
	position: relative;
}
.backdrop-player {
  opacity: 0.1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: visible;
  z-index: 0;
}
.controls .current {
	width:100%;
	max-width:580px;
	min-width:255px;
}
.controls .info {
	margin:0 6px;
	text-align:center;
	height:32px;
	font-size:14px;
	line-height:1.3em;
}
.controls .info div {
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
	width: 100%;
	white-space:nowrap;
}
.controls .info .title {
	font-weight:normal;
}
.controls .progress {
	font-size:12px;
	line-height:1em;
	margin:6px 0 0 0;
	padding:8px 0 6px;
	color:#000;
	max-width:580px;
	min-width:255px;
	width:100%;
}
.controls .progress .label {
	width:65px;
	overflow:hidden;
}
.controls .progress .elapsed {
	text-align:right;
	margin:0 13px 0 0;
}
.controls .progress .duration {
	text-align:left;
	margin:0 0 0 13px;
}
.controls .volume {
	padding:8px 13px 6px 35px;
	background:url(../images/bg_controls_volume.png) no-repeat 0 50%;
}
.controls .playback .enyo-button {
	vertical-align:middle;
	margin:0 0 0 6px;
	background:url(../images/bg_controls_button.png) no-repeat 0 0;
	min-width: 0;
	padding:0;
	height:48px;
	width:48px;
	-webkit-border-image:none;
	border:0;
}
.controls .playback .enyo-button.prev {
	margin:0 0 0 11px;
}
.controls .playback .enyo-button-down {
	background-position:0 -48px;
}
.controls .playback .enyo-button-disabled {
	background-position:0 -96px;
}
.controls .playback .enyo-button .enyo-button-icon {
	height:32px;
	width:32px;
	margin: 8px;
	background-position:50% 50%;
}
.controls .playback .enyo-button.play {
	-webkit-border-image:none;
	width:58px;
	height:58px;
	background:url(../images/bg_controls_play.png) no-repeat 0 0;
	-webkit-border-image:none;
}
.controls .playback .enyo-button-down.play {
	background-position:0 -58px;
}
.controls .playback .enyo-button-disabled.play {
	background-position:0 -116px;
}
.controls .playback .enyo-button.play .enyo-button-icon {
	margin:13px;
	background-position:0 -32px;
}
.controls .playback .enyo-button.play.paused .enyo-button-icon {
	background-position:0 0;
}
.toggleMode {
	height:32px;
	width:32px;
	background:no-repeat 0 0;
}
.toggleMode.all,
.toggleMode.on {
	background-position:0 -32px
}
.toggleMode.one {
	background-position:0 -64px
}
.toggleMode.shuffle {
	margin:0 0 0 20px;
	background-image:url(../images/btn_controls_shuffle.png);
}
.toggleMode.repeat {
	margin:0 20px 0 0;
	background-image:url(../images/btn_controls_repeat.png);
}
.toggleMode.fullscreen {
	background-image:url(../images/btn_controls_fullscreen.png);
	margin: 0 8px 7px 10px;
}