body {
  /*color: white;*/
  
}
.enyo-bg{
  background-color: #D8D8D8;
}
.backdrop-img {
  opacity: 0.3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: visible;
  z-index: 0;
}
.cover {

  height: 281px;
  position: relative;
  overflow: visible;
  /*left: 20px;
  position: absolute;
  top: 20px;*/
  visibility: visible;
  width: 200px;
  z-index: 0;
  /*border: 1px solid blue;*/
}
.overlay-play-button {
  position: absolute;
  top: 30%;
  left: 23%;
  width: 100px;
  height: 100px;
  /*margin: -50px 0 0 -50px;*/
  background: url(../images/playbtn.png) no-repeat;
}
.cover .thumb {
  -webkit-box-shadow: #333538 0px 0px 40px;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  /*left: 0px;
  position: absolute;
  top: 0px;*/
  visibility: visible;
  width: 194px;
  height: 273px;
  /*border: 1px solid red;*/
}

.title_holder {
  height: 49px;
  max-height: 55px;
  /*left: 240px;
  overflow: hidden;
  position: absolute;
  top: 20px;*/
  visibility: visible;
  width: 100%;
  z-index: 0;
  /*border: 1px solid green;*/
}

.title_holder .title {
  font: normal normal bold 40px/normal Arial, sans-serif;
  height: 45px;
  width: 92%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  z-index: 200;
	color: white;

  /*border: 1px solid yellow;*/

}

.title_holder .year {
  font: normal normal normal 20px/normal Arial, sans-serif;
  height: 23px;
  width: 58px;
  
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  word-wrap: normal;
  z-index: 200;
  color: white;
  /*left: 600px;*/
  /*top: 15px;*/
  /*position: absolute;*/
}

.details-header {
  color: orange;
  margin-right: 10px;
  text-align: center;
}

.tagline {
   font: normal normal bold 16px/normal Arial, sans-serif;
   height: 18px;
   width: 422px;   

   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   word-wrap: normal;
   z-index: 200;
   color: white;

   /*border: 1px solid green;*/
}

.desc {
  font: normal normal normal 16px/normal Arial, sans-serif;
  overflow: hidden;
  text-align: left;
  color: black;
  text-overflow: clip;
  white-space: pre-wrap;
  height: 100%;
  word-wrap: break-word;

  color: white;
  /*border: 1px solid blue;*/
}
.info_text {
  color: #bfbfbf;
  font-size: 14px;
  margin-right: 5px;
  padding-right: 5px;
}

.info_text:after {
  content: ' |';
}

.info_text:last-child:after {
  content: '';
}
.rating_holder {
  display: block;
  left: 40px;
  overflow: hidden;
  /*position: absolute;*/
  top: 280px;
  visibility: visible;
  z-index: 0;
}

.rating_holder .star1 {
  height: 16px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star2 {
  height: 16px;
  left: 17px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star3 {
  height: 16px;
  left: 34px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star4 {
  height: 16px;
  left: 51px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star5 {
  height: 16px;
  left: 68px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.photos.enyo-button {
	height: 28px;
	line-height: 28px;
	min-width: 120px;
	/* OVER WRITING PRINTDIALOG CSS * /
	border-width: 0 5px !important;
	/* font-size:18px !important; * /
	height:33px !important;
	min-width: 40px !important;
	padding: 0 5px !important;
	line-height:33px !important;
	color: #fff !important;
	/* text-shadow: #6c6f71 1px 1px; */
	/* -webkit-border-image: url(../images/button_border_image.png) 0 5 33 5 repeat repeat !important; */
}
.PictureModeTopControls .photos.enyo-button,
.enyo-toolbar .photos.enyo-button {
	-webkit-border-image:none;
	min-width: 40px;
	height: 32px;
}

.button {
	overflow:hidden;
	padding: 0;
	background-color:transparent;
}

.button.enyo-button-down img {
	margin-top: -32px;
}

.button img {
	padding-top: 0;
	margin-top: 0px;
}