.enyo-bg{
  background-color: #D8D8D8;
}

.backdrop-img {
  opacity: 0.3;
  height: 100%;
  width: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  z-index: 0;
}
.cover {
  height: 281px;
  left: 20px;
  overflow: visible;
  position: absolute;
  top: 20px;
  visibility: visible;
  width: 200px;
  z-index: 0;
}

.cover .thumb {
  -webkit-box-shadow: #333538 0px 0px 40px;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  left: 0px;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 194px;
  height: 273px;
}

.title_holder {
  height: 49px;
  left: 240px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  visibility: visible;
  width: 723px;
  z-index: 0;
}

.title_holder .title {
  font: normal normal bold 40px/normal Arial, sans-serif;
  height: 45px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0px;
  white-space: nowrap;
  width: 506px;
  word-wrap: normal;
  z-index: 200;
	color: white;
}

.title_holder .year {
  font: normal normal normal 20px/normal Arial, sans-serif;
  height: 23px;
  left: 600px;
  overflow: hidden;
  position: absolute;
  text-overflow: clip;
  top: 15px;
  white-space: pre;
  width: 58px;
  word-wrap: normal;
  z-index: 200;
  color: white;
}

.tagline {
   font: normal normal bold 16px/normal Arial, sans-serif;
   height: 18px;
   left: 240px;
   overflow: hidden;
   position: absolute;
   text-overflow: ellipsis;
   top: 74px;
   white-space: nowrap;
   width: 422px;
   word-wrap: normal;
   z-index: 200;
   color: white;
}

.desc {
  font: normal normal normal 16px/normal Arial, sans-serif;
  overflow: hidden;
  text-align: left;
  color: black;
  text-overflow: clip;
  white-space: pre-wrap;
  height: 350px;
  word-wrap: break-word;
  z-index: 200;
  left: 240px;
  top: 110px;
  position: absolute;
  color: white;
}

.rating_holder {
  display: block;
  height: 16px;
  left: 791px;
  overflow: hidden;
  position: absolute;
  top: 37px;
  visibility: visible;
  width: 85px;
  z-index: 0;
}

.rating_holder .star1 {
  height: 16px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star2 {
  height: 16px;
  left: 17px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star3 {
  height: 16px;
  left: 34px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star4 {
  height: 16px;
  left: 51px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.rating_holder .star5 {
  height: 16px;
  left: 68px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: visible;
  width: 17px;
  z-index: 0;
}

.photos.enyo-button {
	height: 28px;
	line-height: 28px;
	min-width: 120px;
	/* OVER WRITING PRINTDIALOG CSS * /
	border-width: 0 5px !important;
	/* font-size:18px !important; * /
	height:33px !important;
	min-width: 40px !important;
	padding: 0 5px !important;
	line-height:33px !important;
	color: #fff !important;
	/* text-shadow: #6c6f71 1px 1px; */
	/* -webkit-border-image: url(../images/button_border_image.png) 0 5 33 5 repeat repeat !important; */
}
.PictureModeTopControls .photos.enyo-button,
.enyo-toolbar .photos.enyo-button {
	-webkit-border-image:none;
	min-width: 40px;
	height: 32px;
}

.button {
	overflow:hidden;
	padding: 0;
	background-color:transparent;
}

.button.enyo-button-down img {
	margin-top: -32px;
}

.button img {
	padding-top: 0;
	margin-top: 0px;
}