/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-canonview-header {
	padding: 10px;
	background: #ccc;
	margin-bottom: 4px;
	border-bottom: 1px solid gray;
}

.enyo-canonview-client {
	padding: 10px;
}

.margin-medium {
	margin: 10px;
}

.section-button {
	background: transparent url('../images/bg-menu-item-green.png') right center no-repeat; /* Background image for default color scheme - green */
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.section-list {
	background-color: #222;
	color: gray;
}

.enyo-item.active {
    /*background:url(../images/bg_navigation_item_active.png) no-repeat 0 0;*/
     color: white;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.80, rgb(51,111,167)),
	    color-stop(1, rgb(12,37,46))
	);
}
#mainView_view_sections_header_client {
	padding: 5px 5px 5px 5px;
}